/*
 *	GRID EXPERIMENT 1: DEPECHE MODE PLAYLIST
 *	=============================================
 */

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 5vw;
}

h1 {
	text-transform: uppercase;
	font-size: 4vw;
}

iframe {
	width: 100%;
}

.box {
	grid-column: 1 / 4;
	grid-row: 1 / 4;
	background-color: antiquewhite;
	z-index: -1;
}

.box2 {
	grid-column: 3 / 6;
	grid-row: 8 / 11;
	background-color: antiquewhite;
	z-index: -1;
}

.song {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 8vw;
	letter-spacing: -0.5vw;
	margin-top: 1rem;
}

.song-title {
	font-family: 'Unica One', cursive;
	font-size: 11vw;
	line-height: 8.4vw;
	margin-bottom: 1rem;
}

.track {
	width: 100%;
	max-width: 475px;
}

@media (min-width:600px) {

	@supports (display: grid) {

	article {
		display: grid;
		grid-template-columns: repeat(10, 8vw);
		grid-template-rows: repeat(48, 8vw) 1fr;
		grid-gap: 1vw;
	}

	header {
		grid-column: 2 / 4;
		grid-row: 1 / 4;
	}

	iframe {
		width: 475px;
	}
	/* TYPOGRAPHY */

	.song {
		margin-top: 0;
	}

	.song-title {
		margin-bottom: 0;
	}

	.song1 {
		grid-column: 1 / 2;
		grid-row: 3;
		transform: rotate(-90deg);
	}

	.song-title1 {
		grid-column: 3 / 10;
		grid-row: 3;
		margin-top: 0;
		align-self: start;
	}

	.song1-track {
		grid-column: 2;
		grid-row: 6;
		align-self: center;
	}

	.song2 {
		grid-column: 3;
		grid-row: 9;
		transform: rotate(-90deg);

	}

	.song-title2 {
		grid-column: 5 / 7;
		grid-row: 9;
		margin-top: 0;
		align-self: start;
	}

	.song2-track {
		grid-column: 4;
		grid-row: 13;
		align-self: start;
	}

	.song3 {
		grid-column: 1;
		grid-row: 16;
		transform: rotate(-90deg);
	}

	.song-title3 {
		grid-column: 3 / 5;
		grid-row: 16;
		margin-top: 0;
		align-self: start;
	}

	.song3-track {
		grid-column: 2;
		grid-row: 19;
		align-self: start;
	}

	.song4 {
		grid-column: 2;
		grid-row: 22;
		transform: rotate(-90deg);
	}

	.song-title4 {
		grid-column: 4 / 6;
		grid-row: 22;
		margin-top: 0;
		align-self: start;
	}

	.song4-track {
		grid-column: 3;
		grid-row: 24;
		align-self: start;
	}

	.song5 {
		grid-column: 4;
		grid-row: 27;
		transform: rotate(-90deg);
	}

	.song-title5 {
		grid-column: 6;
		grid-row: 27;
		margin-top: 0;
		align-self: start;
	}

	.song5-track {
		grid-column: 5;
		grid-row: 32;
		align-self: start;
	}

}

}
